<!DOCTYPE html>
<html ng-app="demo">
  <head>
    <meta charset="utf-8"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../bower_components/es5-shim/es5-shim.js"></script>
    <![endif]-->

    <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="../bower_components/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="../src/w11k-highcharts.js"></script>
    <script type="text/javascript" src="test.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>

    <style type="text/css">
      body {
        padding: 2em;
      }
    </style>
  </head>
  <body ng-controller="TestCtrl">
    <form name="demoForm" class="w11k-select-adjust-height-to" style="height: 700px">
      <fieldset>
        <div class="row">
          <div class="col-sm-12">
            <div w11k-highcharts
                 w11k-highcharts-config="chart.config"
                 w11k-highcharts-data="chart.data"
                >
            </div>
          </div>
          <div class="col-sm-6 col-sm-offset-3">
            <button class="btn btn-default" ng-click="changeChartType('bar')">Bar Chart</button>
            <button class="btn btn-default" ng-click="changeChartType('line')">Line Chart</button>
            <button class="btn btn-default" ng-click="changeChartType('area')">Area Chart</button>
            <button class="btn btn-default" ng-click="changeChartType('column')">Column Chart</button>
        </div>

      </fieldset>
    </form>
  </body>
</html>